*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #d3eee9;
  font-family: "Sans-serif", Arial;
}
/* dark mode  */

body.dark {
  background-color: #192734;
}
img {
  max-width: 100%;
  width: 100%;
}
.container {
  max-width: 1200px;
  width: 100%;
  /* // can giua khi dung max-width: */
  margin: 0 auto;
  padding: 0 10;
}
button {
  text-align: center;
  color: #fff;
  background-color: rgb(53, 110, 116);
  padding: 0.55rem 1.5rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: var(--smooth);
}
button:hover {
  background-color: var(--green);
  transition: var(--smooth);
}
:root {
  --green: #a2db62;
  --green-l: #3d6392;
  --gray: #2a2f0d;
  --smooth: all 0.3s ease-in;
}
/* === header === */
header {
  position: absolute;
  width: 100%;
}
/* overlay */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4;
  display: none;
}
#overlay.show {
  display: initial;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.navbar__logo img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.navbar__links {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: #3d9392;
  z-index: 5;
  transition: var(--smooth);
  transform: translateX(-100%);
  opacity: 0;
}
.navbar__links.navbar__open {
  transform: translateX(0);
  opacity: 1;
  transition: var(--smooth);
}
.navbar__link {
  list-style: none;
  margin: 55px;
}

.navbar__links a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  transition: var(--smooth);
}
.navbar__link a:hover {
  color: var(--green);
  transition: var(--smooth);
}
.navbar__btn {
  background-color: rgb(53, 110, 116);
  margin-left: 45px;
}
#info {
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: -1px;
}
/* menu buton */
.navbar__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: var(--smooth);
  z-index: 6;
}
.navbar__icon {
  width: 45px;
  height: 6px;
  background-color: var(--green);
  border-radius: 5px;
  transition: var(--smooth);
  position: relative;
}
.navbar__icon::before,
.navbar__icon::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 6px;
  background-color: var(--green);
  border-radius: 5px;
  transition: var(--smooth);
}
.navbar__icon::before {
  transform: translateY(-12px);
}
.navbar__icon::after {
  transform: translateY(12px);
}
/* open animation */
.open .navbar__icon {
  transform: translateX(-50px);
  background: transparent;
}
.open .navbar__icon::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.open .navbar__icon::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.dotted {
  position: absolute;
  top: 10%;
  right: 0px;
  max-width: 800px;
  z-index: -2;
  overflow: hidden;
}
@media (min-width: 62em) {
  .navbar__links {
    position: initial;
    transform: translateX(0);
    opacity: 1;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .navbar__link a {
    color: var(--gray);
  }
  .navbar__icons {
    display: none;
  }
  .navbar__btn {
    background-color: rgb(53, 110, 116);
  }
  .dotted {
    position: absolute;
    top: 20%;
    right: 0px;
    max-width: 800px;
    z-index: -2;
    overflow: hidden;
  }
}
/* banner */
#banner {
  position: relative;
  height: 100vh;
  display: flex;
  align-self: center;
}
.banner__img {
  /* position: absolute; */
  display: flex;
  margin-top: 15vh;
  justify-content: center;
}

.banner__img img {
  width: 250px;
  object-fit: cover;
  height: 250px;
  border-radius: 50%;
  border: 5px solid rgba(88, 37, 123, 0.7);

  /* border-radius: 50%; */
}
.banner__heading {
  /* padding-top: 35vh; */
  margin: auto;
  max-width: 450px;
  max-width: 0 auto;
  text-align: center;
  color: var(--gray);
}
.banner__heading h1 {
  font-size: 2.25rem;
  padding-top: 1em;
  margin-top: 0.8em;
  z-index: -1;
}

.banner__heading p {
  margin: 50px;
  font-weight: 300;
  line-height: 2em;
  text-align: center;
  margin-bottom: 1.5em;
}
@keyframes foo {
  0%,
  10% {
    opacity: 0;
  }
  15%,
  100% {
    opacity: 1;
  }
}

.banner__btn {
  font-size: 1rem;
}
.banner__socials {
  margin-top: 3em;
  /* display: flex;
  justify-content: space-between; */
  font-size: 1.5rem;
  padding-bottom: 3em;
}
.banner__socials a {
  /* margin: 20px; */
  color: var(--gray);
  transition: var(--smooth);
}
.banner__socials a {
  padding: 20px;
}
.banner__socials a:hover {
  color: var(--green);
  transition: var(--smooth);
}
@media (min-width: 62em) {
  .banner__heading {
    text-align: initial;
    display: flex;
    height: 70vh;
    align-items: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 230px;
  }

  .banner__socials {
    justify-content: flex-start;
  }

  .banner__img {
    height: 80vh;
    align-items: center;
    justify-content: flex-end;
  }
  .banner__img img {
    border-radius: initial;
    width: 450px;
    object-fit: cover;
    height: 450px;
    border-end-end-radius: 20%;
    border-end-start-radius: 50%;
    border-start-end-radius: 50%;
    border: 5px solid rgba(88, 37, 123, 0.7);
  }
}
/* - */
#things {
  position: relative;
  overflow-x: hidden;
  /* margin-top: 15px; */
}
.audio {
  margin-top: 14rem;
  display: flex;
  justify-content: center;
  z-index: 100;
}
#things h2 {
  padding: 2.5em 0;
  text-align: center;
  color: var(--gray);
  /* margin-bottom: 3em; */
}
#things h3 {
  padding: 0.5em 0;
  text-align: center;
  color: var(--gray);
  /* margin-bottom: 3em; */
}
/* .things__dec {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-60%);
  z-index: -1;
}
.things__dec:nth-child(2) {
  top: initial;
  left: initial;
  bottom: 15%;
  right: 0;
  transform: translateX(60%);
  z-index: -1;
} */
.things__item {
  margin: 3em 0;
}
@keyframes imgAnimation {
  0% {
    right: -20px;
  }
  50% {
    right: 20px;
  }
  100% {
    right: 40px;
  }
}
.things__item img {
  padding-bottom: 4em;

  animation: imgAnimation 1s 1;
}
.things__item--heading {
  text-align: center;
  color: var(--gray);
}
.things__item--heading p {
  font-weight: 300;
  line-height: 2em;
  max-width: 300px;
  margin: 0 auto;
}
/* contact     */

.contact_form {
  /* margin-top: 10vh; */
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.contact_info p {
  text-align: center;
  align-items: center;
}
.contact_info {
  width: 80%;
  margin: 0 auto;
}
.fields {
  display: flex;
}
.email {
  margin-left: 20px;
}
input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
textarea {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.contact_info_details {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.contact_info_details i {
  font-size: 1.5rem;
  margin-right: 30px;
}
.button-area {
  margin-top: 1.5rem;
}
@media (min-width: 62em) {
  /* .things__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  } */
  .audio {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
  }
  /* .things__item img {
    border-radius: 30px;
    width: 40%;
    padding-bottom: 0;
  }
  .things__item--heading {
    width: 45%;
    text-align: initial;
  }
  .things__item--heading p {
    width: 500px;
    margin: 0;
  }
  .things__item:nth-child(odd) img {
    order: 2;
    width: 40%;
    padding-bottom: 0;
  }
  .things__item--heading:nth-child(odd) {
    order: 1;
    width: 44%;
    text-align: initial;
  } */
  .contact_info {
    width: 35%;
    margin: 0 auto;
  }
  .contact_form {
    margin-top: 2rem;
    width: initial;
  }
  .contact {
    display: flex;
    justify-content: center;
  }
}
#works {
  padding-top: 10em;
  position: relative;
  overflow-x: hidden;
}
#works h2 {
  text-align: center;
  color: var(--gray);
}
.works__img--single {
  margin: 2em 0;
}
.works__btn {
  text-align: center;
  margin-top: 8em;
  margin-bottom: 8em;
}
.works__btn button {
  font-size: 1rem;
}
.works__img--single:nth-child(odd) {
  padding-top: 5em;
}
.works__img--single:nth-child(3) {
  padding-top: -5em;
}
@media (min-width: 62em) {
  #works h2 {
    margin-bottom: 3em;
  }
  .works__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .works__img--single {
    margin: 0 5em;
    width: 35%;
  }
  .works__img--single:nth-child(3) {
    margin-top: 0;
  }
}
#footer {
  margin-bottom: 30px;
  position: relative;
  overflow-x: hidden;
}
#footer div {
  text-align: center;
  /* margin: 10px; */
}
#footer h3 {
  margin: 20px;
}
.color_icons {
  color: black;
}
.footer__icons {
  color: "black";
  margin-top: 3em;
  display: flex;
  justify-content: space-evenly;
}
@media (min-width: 62em) {
  .footer__icons {
    margin-top: 3em;
    display: block;
    font-size: 50px;
  }
  /* #footer div {
    margin: 0;
  } */
}
/* to Top */
@keyframes spinner {
  /* from {
    margin-left: 100%;
    width: 300%;
  } */

  to {
    /* margin-left: 0%;
    width: 100%; */
    transform: rotate(360deg);
  }
}
.toTop {
  right: 32px;
  bottom: 90px;
  position: fixed;
  font-size: xx-large;
  color: brown;
  display: none;
  z-index: 4;
}
.toShow {
  display: block;
}
/* dark mode */
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color: rgb(53, 110, 116);

  cursor: pointer;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}
.label:hover {
  background-color: var(--green);
  transition: var(--smooth);
}
.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}
.white_text {
  color: white;
}
/* dark mode */

.slide img {
  height: 60vh;
  object-fit: cover;
}
/* zoom img */
img {
  transition: transform 0.2s linear;
}
img:hover {
  scroll-behavior: none;
  transform: scale(1.1);
}
/* zoom img */
/* backgr animation     */
.box ul li {
  position: absolute;
  display: inline-block;
  width: 0;
  z-index: -1;
  height: 0;
  margin-left: 0.9em;
  margin-right: 0.9em;
  margin-bottom: 1.2em;
  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid rgb(222, 9, 9);
  border-left: 0.3em solid transparent;
  list-style: none;
  opacity: 0;
  bottom: 0;
  left: 10vw;
  /* background: radial-gradient(rgb(19, 38, 210), transparent, transparent); */
  animation: animate 5s linear infinite;
}
.box ul li:before,
.box ul li:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0.6em;
  border-bottom: 0.7em solid rgb(222, 9, 9);

  left: -1em;
  border-right: 1em solid transparent;
  border-left: 1em solid transparent;
  transform: rotate(-35deg);
}
.box ul li:after {
  transform: rotate(35deg);
}
.box ul li:nth-child(2) {
  left: 36vw;
  animation-delay: 2s;
}
.box ul li:nth-child(3) {
  left: 22vw;
  animation-delay: 1s;
}
.box ul li:nth-child(4) {
  left: 56vw;
  animation-delay: 6s;
}
.box ul li:nth-child(5) {
  left: 76vw;
  animation-delay: 4s;
}
.box ul li:nth-child(6) {
  left: 80vw;
  animation-delay: 8s;
}
@keyframes animate {
  0% {
    transform: scale(0) rotate(0);
    opacity: 1;
    bottom: 0;
  }
  100% {
    transform: scale(5) rotate(360deg);
    opacity: 0;
    bottom: 100vh;
  }
}
/* backgr animation     */
